asgiref
cachetools
certifi
cffi
chardet
Django
django_extensions
google-api-core
google-auth
google-cloud-core
google-cloud-datastore
googleapis-common-protos
grpcio
idna
protobuf
psycopg2
pyasn1
pyasn1-modules
pycparser
pycryptodomex
pytz
requests
rsa
six
sqlparse
urllib3
django-storages

