@import url('https://fonts.googleapis.com/css?family=Cabin:600i&display=swap');

html, body
{
  margin:0;
  padding:0;
}

.container
{
  height: 9vmin;
}
.login_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notLoggedIn{
  text-align: center;
}
#profile
{
  font-family: 'Cabin', sans-serif;
  font-size: 2.5vmin;
  padding-left: 3vmax;
  padding-right:3vmax;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  background-color: #000;
  color:white;
  width: 10vmin;
  text-align: center;
  display: inline-block;
  float: right;
}
/*removes styling for links of #profile */
#profile  a{
  text-decoration: none;
  color: white;
}

#logo
{
  font-family: 'Cabin', sans-serif;
  font-size: 2.5vmin;
  padding-left: 3vmax;
  padding-right:3vmax;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  background-color: #000;
  color:white;
  width: 10vmin;
  text-align: center;
  display: inline-block;
  float: left;
}
/*removes styling for links of #logo */
#logo  a{
  text-decoration: none;
  color: white;
}

#profile:hover
{
  background-color: #e46264;
}

#logo:hover
{
  background-color: #e46264;
}

#content
{
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#rec
{
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%;
  background:#cd0000;

}

#rec:hover
{
  background-color:#E11414
}

#pause
{
  align-self: center;
  display:none;
  width: 5vw;
  height: 35vmin;
  border-style: solid;
  border-width: 0px 4vw 0px 4vw;
  border-color: #202020;

}

#playPause
{
  display:none;
  width: 5vw;
  height: 35vmin;
  border-style: solid;
  border-width: 0px 4vw 0px 4vw;
  border-color: #202020;
}

#stop{
  height: 40vmin;
  width: 40vmin;
  background-color: #000;
  display: none;
}

#time
{
  margin-top: 10px;
  display: none;
  font-family: 'Cabin', sans-serif;
  font-size: 28px;
}

#smallRec
{
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
//  background:#cd0000;
  background: #fff;
//  display: none;
  margin-bottom: 20px;
  margin-left: auto;
}

#recorder
{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

#start {
  display: none;
  width: 0;
  align-self: center;
  height: 0;
  border-top: 15vmin solid transparent;
  border-left: 40vmin solid black;
  border-bottom: 20vmin solid transparent;
}



#options {
  display: flex;
  width: 55vmin;
  height: 0vh;

}

#form-container
{
  display:flex;
  width: 40vw;
}

#data
{
  margin-top: 2vh;
  display: none;
}

#data-form
{
  display: flex;
  flex-direction: column;
}


#title
{
  border: solid;
  height: 4vh;
  width: 40vw;
  font-size: 3vh;
  font-family: 'Cabin', sans-serif;
  color: #000;
}

#container,
#collection,
#autocomplete

{
    width:40vw;
    height: 4vh;
    line-height: 37px;
    margin: 0px -14px 5px 0px;
}

#container
{
    position: relative;

}


#collection,
#autocomplete
{
  position: absolute;
  top: 0;
  font-size: 3vh;
  font-family: 'Cabin', sans-serif;
  cursor: text;
  border:solid;
  }

#collection
{
  background-color: transparent;
}

#autocomplete
{
    color: #aa9f9f;
    border-color: black;
}

#collection:focus
{
  outline: none;
}


#add-collection
{
    position: absolute;
    right: 0%;
    font-family: 'Cabin', sans-serif;
    font-size: 3vh;
    display: none;
}

#add-collection:hover
{
    color:red;
}

#category 

{
    border: solid;
  height: 5vh;
  width: calc(40vw + 8px); /* since the select box has a dropdown arrow that messes with width*/
  font-size: 3vh;
  font-family: 'Cabin', sans-serif;
  color: #000;
}

#tags
{
  border: solid;
  height: 5vh;
  width: 40vw;
  font-size: 3vh;
  font-family: 'Cabin', sans-serif;
  color: #000;
}

#bar
{
  width:40vw;
  height:1vh;
  border: solid;
  margin-top: 30px;
  display: none;
}

#progress
{
  height:1vh;
  width:20%;
  background-color: gray;
  display: none;
}

::placeholder
{
  color: black;
  opacity: 1;
}


#save
{
  border: solid;
  width: 20vw;
  height: 6vw;
}

#save:hover
{
  background-color: green;
}

#discard:hover
{
  background-color: red;
}

#discard
{
  border: solid;
  width: 20vw;
  height: 6vw;
  margin-left: 8px;
}

input[type=button]
{
  background-color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 5.0vmin;
}

input[type=submit]
{
  background-color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 5.0vmin;
}


#length
{
  display: none;
}

#sound-id
{
  display: none;
}

#sound-title
{
  font-family: 'Cabin', sans-serif;
  font-size: 3.0vh;
}

#author
{
  font-family: 'Cabin', sans-serif;
  font-size: 3.0vh;
}

#user-id
{
  display: none;
}


a{
  color: inherit; /* usual colors for links too */
  text-decoration: inherit; /* no underline */
  font-family: 'Cabin', sans-serif;
  font-size: 3.0vh;
}
#pic-box
{
  border: solid;
  height: 10vw;
  width: 10vw;
  align-self: center;
  margin-left: 2vw;
}

#image-upload
{
  display:none;

}

#playbacker
{
  display: flex;
  flex-direction: column;
}

#collection-pic
{
  max-width: 100%;
}

#sound-description
{
  display: flex;

}

.sound-detail
{
  display: flex;
  flex-direction: column;
}

#attribution
{
  font-family: 'Cabin', sans-serif;
  font-size: 3.0vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

#search-form
{
  display: flex;
  flex-direction: column;
}

#search-description
{
  align-self: center;
}

#researcher-content
{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#researcher-form-container
{
  display:flex;
  width: 30vw;
}

#researcher-tags
{
  border: solid;
  height: 5vmin;
  width: 30vmax;
  font-size: 3vmin;
  font-family: 'Cabin', sans-serif;
  color: #000;
  margin-bottom: 1vw;
}

#researcher-category
{
  border: solid;
  height: 5vmin;
  width: calc(30vmax + 8px); /* since the select box has a dropdown arrow that messes with width*/
  font-size: 3vmin;
  font-family: 'Cabin', sans-serif;
  color: #000;
}

#researcher-after-date
{
  border: solid;
  height: 3vh;
  width: 18vmin;
  font-size: 3vmin;
  font-family: 'Cabin', sans-serif;
  color: #000;
  align-self:center;
  margin-right: 10px;
  margin-left: 2vw;
}

#researcher-before-date
{
  border: solid;
  height: 3vh;
  width: 18vmin;
  font-size: 3vmin;
  font-family: 'Cabin', sans-serif;
  color: #000;
  align-self: center;
  margin-right: 10px;
  margin-left: 1vw;
}

#datebox-before
{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: -4vh;
}

::placeholder
{
  color:darkgrey;
}
#datebox-after
{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: -1vw;
}

p
{
  font-size: 3vh;
  font-family: 'Cabin', sans-serif;
  color: #000;
}

#search
{
  border: solid;
  width: 20vw;
  height: 6vw;
  align-self:center;
}

#search-results
{
  margin-top:0;
  text-align: center;
}

.researcher-sound
{
  display:flex;
  border:solid;
  margin-bottom: 2vh;
  align-self:center;
  width: 55vmin;
}

#researcher-sound-container
{
  display: flex;
  flex-direction: column;
}

.researcher-sound-controls
{
  align-self: center;
  margin-left: 4%;
}

.researcher-sound-info
{
  display:flex;
  flex-direction: column;
  margin-left: 4%;
}

.researcher-sound-audio
{
  display:none;
}

.researcher-sound-download
{
  align-self: center;
  margin-left: auto;
  margin-right: 2vmin;
}

.researcher-sound-download-logo
{
  width: 5vmin;
}

.researcher-sound-id
{
  font-size: 2vmin;
  margin-top: 1px;
  margin-bottom: 1px;
}

.researcher-sound-date
{
  font-size: 2vmin;
  margin-top: 1px;
  margin-bottom: 1px;
}

.researcher-sound-tags
{
  font-size: 2vmin;
  margin-top: 1px;
  margin-bottom: 1px;
}

.researcher-start {

  width: 0;
  align-self: center;
  height: 0;
  border-top: 3vmin solid transparent;
  border-left: 7vmin solid black;
  border-bottom: 3vmin solid transparent;
}

.researcher-pause
{
  display: none;
  align-self: center;
  width: 7vmin;
}

#no-results
{
  text-align: center;
  margin-bottom: 4vh;
}

#search-again
{
  text-align: center;
}