@import url('https://fonts.googleapis.com/css?family=Cabin:600i&display=swap');

html, body
{
  margin:0;
  padding:0;
}

#profile
{
  font-family: 'Cabin', sans-serif;
  font-size: 28px;
  padding: 20px;
  background-color: #000;
  color:white;
  width: 150px;
  text-align: center;
  display: inline-block;
  float: right;
}

#logo
{
  font-family: 'Cabin', sans-serif;
  font-size: 28px;
  padding: 20px;
  background-color: #000;
  color:white;
  width: 150px;
  text-align: center;
  display: inline-block;
  float: left;
}

#profile:hover
{
  background-color: #e46264;
}

#logo:hover
{
  background-color: #e46264;
}

.content
{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
}
#rec
{
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%; 
  background:#cd0000;
  
}

#rec:hover
{
  background-color:#E11414
}

#pause
{
  display: none;
  width: 40vmin;
}

#stop{
  height: 40vmin;
  width: 40vmin;
  background-color: #000;
  display: none;
}

#time
{
  display: none;
  font-family: 'Cabin', sans-serif;
  font-size: 28px;
}

