<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Auth testing{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/script.js"></script>
</head>
<body>
  <header>
    <div class="container">
        <a href="/"><div id="logo">dialektor</div></a>
        <a href="/profile/"><div id="profile">{{user.username}}</div></a>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
