{% extends 'base.html' %}
{% block title %}Update Profile{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="/static/profile.css">
<div>
    <center>
        <div class="flex-container flex-direction-horizontal" id="userinfo-flexcontainer">
            <div class="card">
                <img src="{{profile_pic}}" alt="{{user.first_name}}" style="width:50%">
                <h1>{{user.username}}</h1>
                <p class="Account type">{{user.email}}</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>First Name</h4>
                    <input name="first_name" type="text" value="{{user.first_name}}" required>
                    <br>
                    <h4>Last name</h4>
                    <input name="last_name" type="text" value="{{user.last_name}}" required>
                    <br>
                    <hr>
                    <br>
                <button type="submit">Save</button>
                <a href="/profile"><button type="button">Cancel</button></a>
                </form>
            </div>
        </div>
    </center>

</div>
{% else %}
{% include "/templates/registration/YouAreNotLoggedIn.html" %}
{% endif %}
{% endblock %}