{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script src="static/script.js"></script>
<div class="container">
    <div id="logo">dialektor</div>
    <div id="profile">{{user.username}}</div>
</div>
<div id="content">
  <div id="recorder">
    <div id="smallRec"></div>
    <div id="rec"></div>
    <img id="pause" src="static/pause.svg">
    <div id="stop"></div>
    <div id="start"></div>
  </div>
  <p id="time">0:00</p>  
<div>
{% if user.is_authenticated %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <br>
  <a href="/signup">signup</a>
{% endif %}
{% endblock %}
