{% extends "Dialektor_general.html" %}

{% load static %}

{% block title %}Dialektor login{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://storage.googleapis.com/dialekt_static/form_pages.css">
{% endblock %}

{% block content %}

<div id="login_box_wrapper">
    <div id="login_box" >
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            <input class="css_form_inputs css_form_entities" type="text" placeholder="Username">
            <br>
            <input class="css_form_inputs css_form_entities" type="password" placeholder="Password">
            <br>
            <input class="login_button css_form_entities form_submit" type="submit" value="Login">
            <input class="login-button css_form_entities form_submit" type="button" value="Sign Up"
                   onclick="window.location.href='/signup';" >
            <br>
            <a id="css_forget_pass" href="/forget_pass">Forget password?</a>
        </form>
    </div>
</div>
{% endblock %}