{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="/static/profile.css">
<!-- This is the top level container, it holds all of the page contents below the nav bar.
        This is a flex container with vertical flex-direction, it is also a flex item to its parent  -->
        <div class="flex-container flex-direction-vertical" id="top-level-flexcontainer">
            <!-- Flex container holding the user information, which are flex items. Has a horizontal flex-direction
            it is also a flex item to its parent container #top-level-flexcontainer  -->
            <div class="flex-container flex-direction-horizontal" id="userinfo-flexcontainer">
                <div class="card">
                    <img src="{{profile_pic}}" alt="{{user.first_name}}" style="width:50%">
                    <h1>{{user.username}}</h1>
                    <p>{{user.first_name}} {{user.last_name}}</p>
                    <p class="Account type">{{user.email}}</p>
                    <p>personal account</p>
                    <a href="/userUpdateProfile"><button type="button">Edit Profile</button></a>
                </div>

            </div>

        </div>
        <br><br>
        <h2>Recent Sounds</h2>
        <!-- The django for loops to generate all of the sounds will go inside this div -->
        <div class="flex-container flex-direction-horizontal" id="recent-sounds">
            {% for record_id, data in user_records.items %}
              <a href="/sounds/{{record_id}}"><div class="grid-item">
                <h3><center>{{data.title}}</center></h3>
                <p><center>{{data.date}}</center></p>
                <p><center>collection: {{data.collection}}</center></p>
                <p><center><i>Tags:</i>{{data.tags}}</center></p>
                <center>
                <audio controls="controls" >
                  Your browser does not support the &lt;audio&gt; tag.
                  <source src="/raw/{{record_id}}" />
                </audio>
                </center>
              </div></a>
            {% endfor %}

        </div>
        <br>
        <h2>My Collections</h2>
        <br>
        <!-- The django for loops to generate all of the collections will go inside this div, in a seperate div -->
        <div class="flex-container flex-direction-horizontal" id="collections">
            <img class="grid-item" src="img/1.png" alt="Smiley face">
            <img class="grid-item" alt="" src="img/face-50x50.png">
            <a href="collection.html"><img class="grid-item" src="img/canoe.jpg" alt="Smiley face"></a>
            <img class="grid-item" src="img/3.jpg" alt="Smiley face">
            <img class="grid-item" src="img/4.png" alt="Smiley face">
            <img class="grid-item" src="img/smiley.gif" alt="Smiley face">
            <img class="grid-item" src="img/1.png" alt="Smiley face">
            <img class="grid-item" alt="" src="img/face-50x50.png">
            <img class="grid-item" src="img/2.jpg" alt="Smiley face">
            <img class="grid-item" src="img/3.jpg" alt="Smiley face">
            <img class="grid-item" src="img/4.png" alt="Smiley face">
            <img class="grid-item" src="img/smiley.gif" alt="Smiley face">


        </div>


        <br>
        <h2>Tags</h2>
        <!-- The django for loops to generate all of the tags will go inside this div -->
        <div class="flex-container flex-direction-horizontal" id="tags">
              <img class="grid-item" src="img/4.png" alt="Smiley face">
              <img class="grid-item" src="img/smiley.gif" alt="Smiley face">
              <img class="grid-item" src="img/1.png" alt="Smiley face">
              <img class="grid-item" alt="" src="img/face-50x50.png">
              <img class="grid-item" src="img/2.jpg" alt="Smiley face">
              <img class="grid-item" src="img/3.jpg" alt="Smiley face">
        </div>

        <br>
        <h2>Categories</h2>
        <!-- The django for loops to generate all of the categories will go inside this div -->
        <div class="flex-container flex-direction-horizontal" id="categories">
              <img class="grid-item" src="img/smiley.gif" alt="Smiley face" height="75" width="100">
        </div>
{% else %}
  {% include "/templates/registration/YouAreNotLoggedIn.html" %}
{% endif %}
{% endblock %}
