{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

 <script src="/static/DialektPlayback.js"></script>
<div id="content">
  <div class="sound-detail">
    <div id="pic-box">
        <img id="collection-pic" src="/pic/{{pic_src}}"/>
    </div>
    <div id="sound-description">
        <p id="sound-title">{{title}}</p>
        <p id="attribution">by</p>
        <p id="author">{{author}}</p>
        <p id="sound-id">{{sound}}</p>
    </div>
  </div>
  <div id="playback">
  <div id="playbacker">
    <div id="pause"></div>
    <div id="start"></div>
    <p id="time">0:00</p>
    <div id="bar">
      <div id="progress"></div>
    </div>
  </div>
  </div>
</div>


{% if user.is_authenticated %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <br>
  <a href="/signup">signup</a>
{% endif %}
{% endblock %}
